@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Recursive", sans-serif;
  overflow-y: scroll;
}

/* Sakura Animation */
.sakura-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
  overflow: hidden;
}

.sakura {
  position: absolute;
  background-color: #fff;
  border-radius: 100% 0 100% 0;
  opacity: 0.3;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translate(0, -10px) rotate(0deg);
  }

  100% {
    transform: translate(100px, 100vh) rotate(360deg);
  }
}

.data-tippy-root {
  font-weight: 600;
}